*
{box-sizing: border-box;
margin: 0px;
padding: 0px;}
html, body
{
	width: 100%;
	height: 100%;
}
a{text-decoration: none;}
h1
{
	font-family: 'Segoe UI';
	font-size: 45px;
	font-weight: lighter;
	color: white;
}
nav
{
	width: 300px;
	height: 100%;
	text-align: center;
	position: relative;
	top: 0px;
	z-index: 10;
	background-color: white;
	overflow-y:scroll;
}

nav h3
{
	border-bottom: 1px solid lightgrey;
	padding: 10px;
	margin: 20px 40px;
	font-family: 'Segoe UI';
	font-size: 30px;
	font-weight: lighter;
}

nav ul
{
	list-style: none;
	padding: 20px;
}

nav ul li:hover{ color: white }
nav ul li
{
	border: 1px solid darkgrey;
	padding: 20px;
	margin: 40px 0px;
	font-weight: lighter;
	font-family: 'Segoe UI';
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s;
	text-align: left;
	border-radius: 5px;
}

nav ul li i
{
	margin-right: 30px ; 
}

/*** Dashboard buttons*****/
.dashboard{	color: orange; border-color: orange;}
.dashboard:hover{	background-color: orange; border-color: orange;}
.profile{	color: tomato; border-color: tomato;}
.profile:hover{	background-color: tomato; border-color: tomato;}
.recruiting{	color: royalblue; border-color:royalblue;}
.recruiting:hover{	background-color: royalblue; border-color:royalblue;}
.timeline{	color: olivedrab; border-color:olivedrab;}
.timeline:hover{	background-color: olivedrab; }
.employees{	color: darkslateblue; border-color:darkslateblue;}
.employees:hover{	background-color: darkslateblue; }
.statistics{color: chocolate; border-color: chocolate }
.statistics:hover{background-color: chocolate; }

.container div
{
	position: relative;
	height: 100%;
	padding:50px;
	transition: 1s;
}
.container
{	
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	padding-left: 300px;
	overflow: hidden;


}

/******Dashboard content****/

._dashboard{ background-color: orange;}
._profile{	background-color: tomato;}
._recruiting{	background-color: royalblue; }
._timeline{	background-color: olivedrab;}
._employees{	background-color: darkslateblue;}
._statistics{	background-color: chocolate;}
body > p > a {color: white; padding-bottom: 100px; transition: 0.3s}
body > p > a:hover {border-bottom: 2px solid white;  padding-bottom: 0px;}
body > p
{
	font-weight: lighter;
	font-family: 'Segoe UI';
	font-size: 25px;
	color: white;
	position: fixed;
	right:  40px;
	bottom: 40px;
	z-index: 12;
}

.fa-heart { color: tomato; }